<div class="w-full h-full">
    <div class="w-full  rounded-lg flex gap-2 shadow-lg flex-col md:flex-row items-center md:justify-around h-1/5">
        <p *ngIf="workspaceDetails" class="dark:text-gray-200 text-gray-800 text-4xl md:text-6xl">
            {{ workspaceDetails.name }}
            <span class="ml-2 text-xl cursor-pointer" (click)="goToWorkspaceSelect()">📝</span>
        </p>
        <div class="flex gap-5 h-[50%]">
            <div class="dark:bg-cyan-900 flex items-center md:block bg-gray-300 p-5">
                <p class="text-lg md:text-3xl font-bold dark:text-gray-200 text-gray-700">
                    Projects <span class="md:hidden">:</span>
                </p>
                <p class="text-center text-2xl font-bold text-orange-700">{{workspaceDetails.projects.length}}</p>
            </div>
            <div class="dark:bg-cyan-900 flex items-center md:block bg-gray-300 p-5">
                <p class="text-lg md:text-3xl font-bold dark:text-gray-200 text-gray-700">
                    Members <span class="md:hidden">:</span>
                </p>
                <p class="text-center text-2xl font-bold text-orange-700">{{workspaceDetails.members.length}}</p>
            </div>
        </div>
    </div>
    <div class="flex mt-2 justify-center md:justify-end md:mr-20">
        <app-custom-modal modalName="Add members to workspace" >
            <app-email-collector (EmitSelectedEmails)="addMembersToWorkspace($event)"></app-email-collector>
        </app-custom-modal>
    </div>
    <div class="w-full  md:flex gap-3 h-3/5 md:h-4/5 overflow-y-scroll scrollbar-thin dark:scrollbar-thumb-gray-600 dark:scrollbar-track-gray-900 p-2 md:p-10">
        <div class="w-full">
            <app-workspace-data-listing heading="Projects" [projects]="projectDetails"></app-workspace-data-listing>
        </div>
        <div class="w-full">
            <app-workspace-data-listing  heading="Members" [workspace]="workspaceDetails"></app-workspace-data-listing>
        </div>
    </div>
</div>