<section class="md:flex gap-6 hidden">
  <div
    class="bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-white duration-300 min-h-screen"
    [ngClass]="{'w-64': open, 'w-16': !open}"
  >
    <div class="p-3 flex justify-end">
      <p
        class="cursor-pointer text-5xl"
        (click)="toggleAside()"
      >
        ≡
      </p>
    </div>
    <div class="mt-4 flex flex-col gap-4 relative">
      <ng-container *ngFor="let menu of menus; let i = index">
        <a
          routerLinkActive="active"
          [routerLink]="menu.link"
          class="group flex items-center text-sm gap-3.5 font-medium p-5 hover:bg-gray-300 hover:dark:bg-gray-500 rounded-md"
          [class.mt-5]="menu.margin"
        >
          <img class="w-8" [src]="menu.icon" alt="">
          <h2
            [ngStyle]="{
              transitionDelay: open ? '0ms' : (i * 100) + 'ms',
              opacity: open ? 1 : 0,
              transform: open ? 'none' : 'translateX(28px)',
            }"
          >
            {{ menu.name }}
          </h2>
          <h2
            [class.hidden]="open"
            class="absolute left-48 bg-white font-semibold whitespace-pre text-gray-900 rounded-md drop-shadow-lg px-0 py-0 w-0 overflow-hidden"
            [class.group-hover:px-2]="open"
            [class.group-hover:py-1]="open"
            [class.group-hover:left-14]="open"
            [class.group-hover:duration-300]="open"
            [class.group-hover:w-fit]="open"
          >
            {{ menu.name }}
          </h2>
        </a>
      </ng-container>
      <div
        (click)="handleLogout()"
        class="hover:text-red-900 group flex items-center text-sm hover:cursor-pointer gap-3.5 font-medium p-5 hover:bg-gray-300 hover:dark:bg-gray-500 rounded-md"
        style="overflow: hidden;"
      >
        
        <img class="w-8" src="../../../../assets/images/logout.png" alt="">
        <h2
          [ngStyle]="{
            transitionDelay: open ? '0ms' : (menus.length * 100) + 'ms',
            opacity: open ? 1 : 0,
            transform: open ? 'none' : 'translateX(28px)',
          }"
        >
          Logout
        </h2>
        <h2
          [class.hidden]="open"
          class="absolute left-48 bg-white font-semibold whitespace-pre text-gray-900 rounded-md drop-shadow-lg px-0 py-0 w-0 overflow-hidden"
          [class.group-hover:px-2]="open"
          [class.group-hover:py-1]="open"
          [class.group-hover:left-14]="open"
          [class.group-hover:duration-300]="open"
          [class.group-hover:w-fit]="open"
        >
          Logout
        </h2>
      </div>
    </div>
  </div>
</section>
<div class="block md:hidden">
  <!-- Include the MobileNav component here if needed -->
</div>
