<div
  class="shadow-2xl dark:shadow-cyan-900 dark:border-gray-200 mt-2 overflow-hidden w-full h-80 md:h-[80%] border-gray-900 rounded-md"
>
  <div class="p-1">
    <p class="dark:text-gray-200 text-gray-800 font-bold text-3xl text-center">
      {{ heading }}
    </p>
  </div>
  
  <div
    *ngIf="projects"
    class="h-80 overflow-y-scroll scrollbar-thin dark:scrollbar-thumb-gray-600 dark:scrollbar-track-gray-900 py-1 flex flex-col items-center rounded-md md:h-[80%] w-full"
  >
    <!-- data comes here -->
    <p
      (click)="handleProjectClick(item._id)"
      class="p-2 mt-1 bg-cyan-400 hover:bg-cyan-800 hover:text-gray-200 dark:text-gray-200 md:text-xl hover:dark:bg-cyan-800 cursor-pointer w-[80%] text-center md:p-4 md:m-2 rounded-lg mx-5 dark:bg-cyan-700"
      *ngFor="let item of projects"
    >
      {{ item.name }}
    </p>
    
  </div>
  <div
    *ngIf="workspace"
    class="h-80 overflow-y-scroll scrollbar-thin dark:scrollbar-thumb-gray-600 dark:scrollbar-track-gray-900 py-1 flex flex-col items-center rounded-md md:h-[80%] w-full"
  >
    <!-- data comes here -->
    <p
      class="p-2 mt-1 overflow-hidden bg-cyan-400  dark:text-gray-200 md:text-xl  w-[80%] text-center md:p-4 md:m-2 rounded-lg mx-5 dark:bg-cyan-700"
      *ngFor="let item of workspace.members"
    >
      {{ item.email }}
    </p>
  </div>
</div>
