<div>
  <form (ngSubmit)="submitForm()">
    <div class="relative z-0 w-full mb-6 group">
      <input
        [(ngModel)]="workSpaceName"
        type="text"
        name="floating_email"
        id="floating_email"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "
        required
      />
      <label
        for="floating_email"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Workspace Name</label
      >
    </div>
    <div class="mt-4">
      <label class="text-gray-700 dark:text-gray-200">Select a theme</label>
      <ngx-colors name="theme" class="mt-4" ngx-colors-trigger [(ngModel)]="theme"></ngx-colors>
    </div>
    <button
      class="block mt-4 bg-gradient-to-r from-yellow-300 to-orange-400 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center text-gray-900 dark:bg-gradient-to-r dark:from-yellow-300 dark:to-orange-400 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      type="submit"
    >
      Submit
    </button>
  </form>
</div>
